[submodule "code/code/cpp/compression/external/TurboPFor"]
	path = code/code/cpp/compression/external/TurboPFor
	url = https://github.com/powturbo/TurboPFor-Integer-Compression.git
[submodule "code/code/cpp/compression/external/2i_bench"]
	path = code/code/cpp/compression/external/2i_bench
	url = https://github.com/jermp/2i_bench.git
[submodule "code/code/cpp/compression/external/FastPFor"]
	path = code/code/cpp/compression/external/FastPFor
	url = https://github.com/lemire/FastPFor.git
[submodule "code/code/cpp/compression/external/MaskedVByte"]
	path = code/code/cpp/compression/external/MaskedVByte
	url = https://github.com/lemire/MaskedVByte.git
[submodule "code/code/cpp/compression/external/dictionary"]
	path = code/code/cpp/compression/external/dictionary
	url = https://github.com/lemire/dictionary
[submodule "code/code/cpp/compression/external/lz4"]
	path = code/code/cpp/compression/external/lz4
	url = https://github.com/lz4/lz4.git
[submodule "code/code/cpp/compression/external/streamvbyte"]
	path = code/code/cpp/compression/external/streamvbyte
	url = https://github.com/lemire/streamvbyte.git
[submodule "code/code/cpp/compression/external/simdcomp"]
	path = code/code/cpp/compression/external/simdcomp
	url = https://github.com/omarathon/simdcomp.git
[submodule "code/code/cpp/compression/external/FrameOfReference"]
	path = code/code/cpp/compression/external/FrameOfReference
	url = https://github.com/omarathon/FrameOfReference.git
[submodule "code/code/cpp/compression/external/libmorton"]
	path = code/code/cpp/compression/external/libmorton
	url = https://github.com/Forceflow/libmorton.git
